<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default"><i class="fa fa-search"></i>
				</button>
			</span>
			<input type="text" name="" class="form-control" placeholder="Search for..." ng-model="searchText">
		</div>
	</div>
</div>

<h3>Todo</h3>
<div ng-repeat="item in items | filter:{isCompleted:false} | filter: searchText">
	<div class="panel panel-default">          
		<div class="panel-body">          
			<div class="col-xs-1"><input type="checkbox" name="" ng-checked="item.isCompleted">
			</div>          
			<a href="#/items/view/{{item.id}}"><div class="col-xs-9">{{item.task}}</div></a>         
			<div class="col-xs-1">{{item.assignedTo}}</div>          
			<div class="col-xs-1">
				<button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button>
			</div>          
		</div>
	</div>
</div>

<h3>Completed</h3>
<div ng-repeat="item in items | filter:{isCompleted:true}">
	<div class="panel panel-default">          
		<div class="panel-body">          
			<div class="col-xs-1"><input type="checkbox" name="" ng-checked="item.isCompleted">
			</div>          
			<a href="#/items/view/{{item.id}}"><div class="col-xs-9">{{item.task}}</div></a>          
			<div class="col-xs-1">{{item.assignedTo}}</div>          
			<div class="col-xs-1">
				<button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button>
			</div>          
		</div>
	</div>
</div>