<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NG Todo</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body ng-app="TodoApp"> <!-- needed to define the app name in the js file-->
  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Todo App</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" ng-repeat="li in navItems"> <!-- this accesses the array and key value pair in NavCtrl -->
          <li><a href="#">{{li.name}}</a></li> <!-- li is declared a variable on line 28 for access on line 29 -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div ng-controller="TodoCtrl">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <button class="col-xs-6 btn btn-success" ng-click="newItem()">New Item</button>
        <button class="col-xs-6 btn btn-primary" ng-click="allItems()">All Items</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
        <h1>NG Todo</h1>
        <div ng-show="!showListView">
          <h3>New Todo</h3>

          <form>
            <div class="form-group">
              <label>Task Description</label>
              <input type="text" class="form-control" id="add-todo-text" placeholder="New Todo Item" ng-model="newTask.task">
            </div>

            <div class="form-group">
              <label>Assigned to</label>
              <input type="text" class="form-control" id="add-todo-text" placeholder="New Todo Item" ng-model="newTask.assignedTo">
            </div>
            <button type="button" class="btn btn-primary btn-lg col-xs-2 " ng-click="addNewItem()">New Todo</button>
          </form>
        </div>
        <div ng-show="showListView">

        <div class="row">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default"><i class="fa fa-search"></i>
              </button>
            </span>
            <input type="text" name="" class="form-control" placeholder="Search for..." ng-model="searchText">
            </div>
          </div>
        </div>

          <h3>Todo</h3>

          <div ng-repeat="item in items | filter:{isCompleted:false} | filter: searchText">

            <div class="panel panel-default">          
              <div class="panel-body">          
                <div class="col-xs-1"><input type="checkbox" name="" ng-checked="item.isCompleted">
                </div>          
                <div class="col-xs-9">{{item.task}}</div>          
                <div class="col-xs-1">{{item.assignedTo}}</div>          
                <div class="col-xs-1">
                  <button class="btn btn-danger fa fa-trash-o"></button>
                </div>          
              </div>
            </div>
          </div>
        </div>

        <h3>Completed</h3>
        <div ng-repeat="item in items | filter:{isCompleted:true}">

          <div class="panel panel-default">          
            <div class="panel-body">          
              <div class="col-xs-1"><input type="checkbox" name="" ng-checked="item.isCompleted">
              </div>          
              <div class="col-xs-9">{{item.task}}</div>          
              <div class="col-xs-1">{{item.assignedTo}}</div>          
              <div class="col-xs-1">
                <button class="btn btn-danger fa fa-trash-o"></button>
              </div>          
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/lib/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/lib/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/app.js"></script>
</body>
</html>